/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*---------Шрифты-----------*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold-700.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium-500.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular-400.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light-300.ttf');
}

@font-face {
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ReformaGroteskMediumC.ttf');
}

/* ___________wrapper__________ */

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 0;
}

/*________header_______*/

.header {
    width: 100%;
    background: rgba(42, 41, 46, 0.8);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

@media (max-width: 950px) {
    .header {
        position: static;
    }
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 11px 50px 11px 87px;
}

@media (max-width: 920px) {
    .header__flex {
        flex-direction: column;
        align-items: center;
        padding: 15px;
        justify-content: center;
    }
}

.logo {
    padding-right: 50px;
}

@media (max-width: 920px) {
    .logo {
        padding-right: 0px;
    }
}

.menu-wrapper {
    padding-bottom: 6px;
    margin-top: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
    justify-content: space-evenly;
}

.menu li {
    margin: 0 25px 0 0;
}

@media (max-width: 920px) {
    .menu li {
        margin: 15px 10px 0 10px;
    }
}

.menu a {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 21px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home a {
    position: relative;
}

.home a::after {
    content: url(../img/icon/svg/home.png);
    position: absolute;
    left: -48px;
}

@media (max-width: 920px) {
    .home a::after {
        display: none;
    }
}

.active a {
    position: relative;
}

.active a::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 2px;
    bottom: -8px;
    left: calc(50% - 13px);
    background: linear-gradient(146.05deg, #FFB300 0%, #FF6600 77.54%);
    border-radius: 50px;
}

.menu a:hover {
    position: relative;
}

.menu a:hover::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 2px;
    bottom: -8px;
    left: calc(50% - 13px);
    background: linear-gradient(146.05deg, #FFB300 0%, #FF6600 77.54%);
    border-radius: 50px;
}

/*________slider_______*/

.wrapper__slid {
    height: 100%;
    padding: 0 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

.slick-arrow {
    position: absolute;
    bottom: 12%;
    z-index: 10;
    font-size: 0;
    width: 5px;
    height: 10px;
}

.slider .slick-arrow.slick-prev {
    left: 9.5%;
    background: url('../img/slides/slaid_arrow.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    left: 12.5%;
    background: url('../img/slides/slaid_arrow.svg') 0 0 / 100% no-repeat;
    transform: scaleX(-1)
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider__item {
    width: 100%;
    padding: 0px 0px;
    position: relative;
}

.slider__item img {
    max-width: 100%;
}

@media (max-width: 900px) {
    .slider__item img {
        opacity: 0.5;
    }
}

.s1__text-1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 151.19%;
    color: #2A292E;
    margin-bottom: 10px;
}

@media (max-width: 1100px) {
    .s1__text-1 {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media (max-width: 900px) {
    .s1__text-1 {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .s1__text-1 {
        font-size: 14px;
    }
}

.s1__text-1 span {
    display: block;
}

@media (max-width: 900px) {
    .s1__text-1 span {
        display: inline;
    }
}

.s1__text-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 149%;
    color: #2A292E;
    text-shadow: 0px 2.58696px 5.17391px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

@media (max-width: 1100px) {
    .s1__text-2 {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .s1__text-2 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .s1__text-2 {
        font-size: 14px;
    }
}

.s1__text-2 span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 149%;
    color: #2A292E;
    text-shadow: 0px 2.58696px 5.17391px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    display: block;
}

@media (max-width: 1100px) {
    .s1__text-2 span {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .s1__text-2 span {
        display: inline;
    }
}

@media (max-width: 400px) {
    .s1__text-2 span {
        font-size: 14px;
    }
}

.s1__text-wrapper {
    position: absolute;
    width: 70%;
    bottom: 20%;
    left: 9.5%;
}

@media (max-width: 1100px) {
    .s1__text-wrapper {
        width: 35%;
    }
}

@media (max-width: 900px) {
    .s1__text-wrapper {
        width: 90%;
    }
}

/*________sec-2_______*/

.sec-2 {
    min-height: 471px;
    background: #2A292E;
    display: flex;
}

@media (max-width: 925px) {
    .sec-2 {
        flex-direction: column;
    }
}

.sec-2__main {
    max-width: 310px;
    min-height: 471px;
    background: rgba(196, 196, 196, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 925px) {
    .sec-2__main {
        flex-direction: row;
        max-width: 100%;
        min-height: 100%;
    }
}

.sec-2__title {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1 1 100%;
}

@media (max-width: 620px) {
    .sec-2__title  {
        min-height: 120px;
    }
}

.sec-2__title::after {
    content: url(../img/icon/svg/s2_arrow-right.svg);
    position: absolute;
    right: -40px;
}

@media (max-width: 925px) {
    .sec-2__title::after {
        left: 50%;
        right: 50%;
        bottom: 40px;
        transform: rotate(90deg);
    }
}

@media (max-width: 620px) {
    .sec-2__title::after {
        display: none;
    }
}

.sec-2__title-1 {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 51px;
    font-weight: 400;
    font-style: normal;
    line-height: 149%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 620px) {
    .sec-2__title-1  {
        line-height: 110%;
    }
}

.sec-2__title-2 {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    line-height: 149%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 620px) {
    .sec-2__title-2  {
        line-height: 110%;
    }
}

@media (max-width: 620px) {
    .sec-2__img {
        display: none;
    }
}

.sec-2__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

@media (max-width: 925px) {
    .sec-2__list {
        padding: 20px 50px;
    }
}

@media (max-width: 850px) {
    .sec-2__list {
        padding: 20px 20px;
    }
}

@media (max-width: 620px) {
    .sec-2__list {
        padding: 20px 40px;
    }
}

@media (max-width: 550px) {
    .sec-2__list {
        padding: 20px 20px;
    }
}

.sec-2__link {
    width: 280px;
    height: 190px;
    cursor: pointer;
    padding: 8px 20px;
}

.sec-2__link-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-2__link-img {
    margin-bottom: 30px;
}

.sec-2__link-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 117%;
    /* or 16px */
    color: #FFFFFF;
}

.sec-2__link-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* or 21px */
    color: #FFFFFF;
    display: none;
}

.sec-2__link-text li:not(:last-child) {
    margin: 0 0 7px 0;
}

.sec-2__link-text li {
    position: relative;
}

.sec-2__link-text li::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 8px;
    left: -10px;
    border-radius: 50%;
    background: linear-gradient(134.78deg, #33CC33 54.3%, #339C4C 83%);
}

.sec-2__link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sec-2__list>li:active .sec-2__link-text {
    display: block;
}

.sec-2__list>li:active .sec-2__link-main {
    display: none;
}

/*__________sec-3___________*/

.sec-3 {
    background: url(../img/background/s2_points_0.5.png) 0 50% no-repeat;
    padding: 100px 0;
}

@media (max-width: 1200px) {
    .sec-3 {
        padding: 40px 0 60px 0;
    }
}

@media (max-width: 900px) {
    .sec-3 {
        padding: 20px 0 40px 0;
        background: url(../img/background/s2_points_0.5.png) 0 50% no-repeat, url(../img/background/s2_points_0.5r.png) 100% 50% no-repeat;
    }
}

.sec-3__content {
    display: flex;
    justify-content: end;
    min-height: 340px;
}

@media (max-width: 1200px) {
    .sec-3__content {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .sec-3__content {
        justify-content: center;
    }
}

.sec-3-title {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 51px;
    line-height: 149%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #2A292E;
    border-right: 5px solid #E3EAEE;
    padding: 40px 20px 0 15px;
    min-width: 255px;
}

@media (max-width: 1200px) {
    .sec-3-title {
        width: 100%;
        text-align: center;
        padding: 0 0 10px 0;
        border-right: none;
        border-bottom: 5px solid #E3EAEE;
        margin: 0px 20px 20px 20px;
    }
}

.sec-3__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    max-width: 645px;
}

@media (max-width: 1200px) {
    .sec-3__text {
        flex: 1 1 20%;
        border-bottom: 5px solid #E3EAEE;
        margin: 0px 0px 0px 20px;
        padding-bottom: 50px;
        padding: 0 20px 20px 0;
        justify-content: flex-start;
        max-width: 1420px;
    }
}

@media (max-width: 900px) {
    .sec-3__text {
        width: 100%;
        text-align: center;
        padding: 0 0px 20px 0px;
        margin: 0px 20px 0px 20px;
    }
}

.sec-3__text-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 164.5%;
    color: #2A292E;
}

.sec-3__text-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2A292E;
}

.sec-3__text-list li {
    margin-top: 10px;
}

.sec-3__img {
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .sec-3__img {
        border-bottom: 5px solid #E3EAEE;
        margin: 0 20px 0 0;
        padding-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .sec-3__img {
        display: none;
    }
}

/*__________sec-4___________*/

.sec-4 {
    background: url(../img/background/s3_points_0.3.png) top center no-repeat #3F3E42;
}

.sec-4__content {
    display: flex;
    flex-wrap: wrap;
    padding: 82px 145px 30px 145px;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {
    .sec-4__content {
        padding: 82px 15px 30px 15px;
    }
}

@media (max-width: 900px) {
    .sec-4__content {
        padding: 50px 15px 10px 15px;
    }
}

.sec-4__mark {
    width: 220px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-4__mark-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5px;
}

/*__________sec-5___________*/

.sec-5 {
    min-height: 540px;
    background: url(../img/background/s3_deal.png) 71% 100%/cover no-repeat;
}

.sec-5__content {
    display: flex;
    align-items: end;
    padding: 0 0 55px 0;
}

@media (max-width: 900px) {
    .sec-5__content {
        flex-direction: column;
        align-items: center;
        padding: 0 0 20px 0;
    }
}

.sec-5__main {
    flex: 0 0 42%;
}

.sec-5__title {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 51px;
    line-height: 149%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 0 45px 100px;
}

@media (max-width: 900px) {
    .sec-5__title {
        flex-direction: column;
        align-items: center;
        padding: 15px 0 15px 0;
    }
}

@media (max-width: 900px) {
    .sec-5__img img {
        display: none;
    }
}

.sec-5__list li {
    display: flex;
}

@media (max-width: 900px) {
    .sec-5__list li {
        justify-content: center;
    }
}

.sec-5__list {
    width: 68%;
    padding: 0 15px;
}

@media (max-width: 900px) {
    .sec-5__list {
        width: 100%;
    }
}

.sec-5__list li:not(:last-child) {
    margin: 0 0 10px 0;
}

.sec-5__logo {
    width: 180px;
    height: 70px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-5__company {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    width: 63%;
    height: 70px;
    background: rgba(42, 41, 46, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

@media (max-width: 430px) {
    .sec-5__company {
        display: none;
    }
}

/*__________footer___________*/

.footer {
    background-color: #E3EAEE;
}

.footer__content {
    min-height: 460px;
    padding-top: 23px;
    padding: 23px 15px 20px 15px;
}

.footer__title {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 51px;
    line-height: 149%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #2A292E;
    margin-bottom: 23px;
    margin-left: 105px;
}

@media (max-width: 900px) {
    .footer__title {
        margin-left: 0;
        text-align: center;
    }
}

.footer__flex {
    display: flex;
}

@media (max-width: 600px) {
    .footer__flex {
        flex-direction: column;
    }
}

.footer__main {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    .footer__main {
        flex-direction: column;
    }
}

.form__flex {
    display: flex;
}

@media (max-width: 900px) {
    .form__flex {
        flex-direction: column;
    }
}

.form-name input {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    width: 230px;
    height: 40px;
    margin-right: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .form-name input {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .form-name input {
        margin-right: 0;
    }
}

.form-mail input {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    width: 230px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .form-mail input {
        width: 100%;
    }
}

textarea {
    background: #FFFFFF;
    border: 1px solid #C5D3DB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149%;
    padding-left: 10px;
    padding-top: 5px;
    width: 490px;
    height: 140px;
}

@media (max-width: 900px) {
    textarea {
        width: 100%;
    }
}

.btm button {
    width: 160px;
    height: 40px;
    background: linear-gradient(208.33deg, #FFB300 19.3%, #FF6600 114.47%);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149%;
    color: #2A292E;
    margin-top: 30px;
}

.btm button:active {
    background: #FFB300;
}

.footer__contacts {
    margin: 0 20px;
}

.footer__contacts-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2A292E;
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .footer__contacts-title {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .footer__contacts-title {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.footer__contacts-main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(42, 41, 46, 0.85);
    padding-left: 30px;
}

.footer__contacts-main li {
    margin-bottom: 15px;
    position: relative;
}

.footer__mail::before {
    content: url(../img/icon/svg/foot_mail.svg);
    position: absolute;
    left: -30px;
}

.footer__tel::before {
    content: url(../img/icon/svg/foot_tel.svg);
    position: absolute;
    left: -30px;
}

.footer__map::before {
    content: url(../img/icon/svg/foot_map.svg);
    position: absolute;
    left: -30px;
}

.footer__sait::before {
    content: url(../img/icon/svg/foot_sait.svg);
    position: absolute;
    left: -30px;
}