/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*---------Шрифты-----------*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold-700.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular-400.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light-300.ttf');
}

@font-face {
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ReformaGroteskMediumC.ttf');
}

/* ___________wrapper__________ */

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}

/*________header_______*/

.header {
    width: 100%;
    background: rgba(42, 41, 46, 0.8);
    /* opacity: 0.8; */
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 11px 70px 11px 87px;
}

.logo {
    padding-right: 50px;
}

.menu-wrapper {
    padding-bottom: 6px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
}

.menu li:not(:last-child) {
    margin: 0 25px 0 0;
}

.menu a {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 21px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home a {
    position: relative;
}

.home a::after {
    content: url(../img/icon/svg/home.png);
    position: absolute;
    left: -48px;
}

.active a {
    position: relative;
}

.active a::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 2px;
    bottom: -8px;
    left: calc(50% - 13px);
    background: linear-gradient(146.05deg, #FFB300 0%, #FF6600 77.54%);
    border-radius: 50px;
}

.menu a:hover {
    position: relative;
}

.menu a:hover::before {
    content: '';
    position: absolute;
    width: 27px;
    height: 2px;
    bottom: -8px;
    left: calc(50% - 13px);
    background: linear-gradient(146.05deg, #FFB300 0%, #FF6600 77.54%);
    border-radius: 50px;
}

/*________slider_______*/

.wrapper__slid {
    height: 100%;
    padding: 0 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

.slick-arrow {
    position: absolute;
    bottom: 12%;
    z-index: 10;
    font-size: 0;
    width: 5px;
    height: 10px;
}

.slider .slick-arrow.slick-prev {
    left: 9.5%;
    background: url('../img/slides/slaid_arrow.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    left: 12.5%;
    background: url('../img/slides/slaid_arrow.svg') 0 0 / 100% no-repeat;
    transform: scaleX(-1)
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider__item {
    width: 100%;
    padding: 0px 0px;
    position: relative;
}

.slider__item img {
    max-width: 100%;
}

.s1__text-1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 151.19%;
    /* or 27px */
    color: #2A292E;
    margin-bottom: 10px;
}

.s1__text-1 span {
    display: block;
}

.s1__text-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 149%;
    /* or 60px */
    color: #2A292E;
    text-shadow: 0px 2.58696px 5.17391px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.s1__text-2 span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 149%;
    /* or 37px */
    color: #2A292E;
    text-shadow: 0px 2.58696px 5.17391px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    display: block;
}

.s1__text-wrapper {
    position: absolute;
    width: 70%;
    bottom: 20%;
    left: 9.5%;
}

/*________sec-2_______*/

.sec-2 {
    min-height: 471px;
    background: #2A292E;
    display: flex;
}

.sec-2__main {
    max-width: 310px;
    min-height: 471px;
    background: rgba(196, 196, 196, 0.15);
}

.sec-2__title {
    min-height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sec-2__title::after {
    content: url(../img/icon/svg/s1_arrow-right.svg);
    position: absolute;
    right: -40px;
}

.sec-2__title-1 {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 51px;
    line-height: 149%;
    /* or 76px */
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec-2__title-2 {
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-size: 23px;
    line-height: 149%;
    /* or 76px */
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec-2__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.sec-2__link {
    width: 280px;
    height: 190px;
    cursor: pointer;
    padding: 8px 20px;
}

.sec-2__link-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-2__link-img {
    margin-bottom: 30px;
}

.sec-2__link-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 117%;
    /* or 16px */
    color: #FFFFFF;
}

.sec-2__link-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* or 21px */
    color: #FFFFFF;
    display: none;
}

.sec-2__link-text li:not(:last-child) {
    margin: 0 0 7px 0;
}

.sec-2__link-text li {
    position: relative;
}

.sec-2__link-text li::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 8px;
    left: -10px;
    border-radius: 50%;
    background: linear-gradient(134.78deg, #33CC33 54.3%, #339C4C 83%);
}

.sec-2__link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sec-2__list>li:active .sec-2__link-text {
    display: block;
}

.sec-2__list>li:active .sec-2__link-main {
    display: none;
}

/*__________section-1___________*/

.section-1__main-title {
    max-width: 600px;
    height: 100%;
    margin: 71px 0 0 60px;
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #061058;
    position: relative;
}

@media (max-width: 930px) {
    .section-1__main-title {
        margin: 40px 0 0 0;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 930px) {
    .section-1__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.section-1__main-title::before {
    content: '';
    border-top: 4px solid #C9D2F3;
    position: absolute;
    width: 313px;
    bottom: -15px;
}

@media (max-width: 930px) {
    .section-1__main-title::before {
        width: 280px;
    }
}

.section-1__parts {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}

@media (max-width: 930px) {
    .section-1__parts {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 930px) {
    .section-1__part-1 img {
        width: 100%;
        height: 100%;
    }
}

.section-1__part-2 {
    max-width: 355px;
    min-width: 185px;
    margin: 0 0 0 53px;
}

.section-1__part-2-title-1 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 133.5%;
    color: #00A87C;
    padding-top: 30px;
}

.section-1__part-2-list-1 {
    margin-top: 40px;
}

.section-1__part-2-list-1 li {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 133.5%;
    color: #061058;
    position: relative;
    margin-top: 20px;
}

.section-1__part-2-list-1 li::before {
    content: url(../img/icon/svg/sect_1_check_clean.svg);
    position: absolute;
    left: -53px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1.5px solid #061058;
    text-align: center;
}

@media (max-width: 930px) {
    .section-1__part-2-list-1 li::before {
        left: -40px;
    }
}

.section-1__part-2-list-2 {
    border-left: 2px solid #C9D2F3;
    margin-top: 10px;
    padding-left: 20px;
}

.section-1__part-2-title-2 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.5%;
    color: #061058;
}

.marks-2 {
    display: flex;
    flex-direction: column;
}

.marks-2__flex {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.mark-2 {
    min-width: 50px;
    height: 52px;
    border: 1px solid #00A87C;
    border-radius: 55px 0 55px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1__marks-title {
    margin-left: 15px;
}

.section-1__marks-text-1 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 133.5%;
    text-transform: uppercase;
    color: #061058;
}

.section-1__marks-text-2 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.5%;
    color: #061058;
}

/*__________section-2___________*/

.section-2__back {
    min-height: 485px;
    background: #F8F8FB url(../img/content/certificate.png) 90% 50% no-repeat;
}

@media (max-width: 1300px) {
    .section-2__back {
        background: #F8F8FB url(../img/content/certificate.png) 100% 50% no-repeat;
    }
}

@media (max-width: 930px) {
    .section-2__back {
        min-height: 1070px;
        background: #F8F8FB url(../img/content/certificate.png) bottom no-repeat;
    }
}

.section-2__main-title {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #061058;
    margin: 0 0 64px 90px;
    padding: 46px 0 0 0;
}

@media (max-width: 930px) {
    .section-2__main-title {
        margin: 0 0 64px 0;
        text-align: center;
    }
}

.marks-3 {
    margin-right: 270px;
}

@media (max-width: 1300px) {
    .marks-3 {
        margin-right: 220px;
    }
}

@media (max-width: 930px) {
    .marks-3 {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 20px;
    }
}

@media (max-width: 360px) {
    .marks-3 {
        margin-left: 0;
    }
}

.marks-3__pieces {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #C9D2F3;
    border-radius: 3px;
}

@media (max-width: 930px) {
    .marks-3__pieces {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0;
        border-right: 4px solid #C9D2F3;
        border-radius: 3px;
    }
}

.wrapper__mark-3 {
    max-width: 150px;
    flex: 1 1 auto;
}

.wrapper__mark-3:first-child {
    margin: 0 0 0 80px;
}

@media (max-width: 1300px) {
    .wrapper__mark-3:first-child {
        margin: 0 0 0 0;
    }
}

.wrapper__mark-3:last-child {
    margin: 0 80px 0 0;
}

@media (max-width: 1300px) {
    .wrapper__mark-3:last-child {
        margin: 0 70px 0 0;
    }
}

@media (max-width: 930px) {
    .wrapper__mark-3:last-child {
        margin: 0 0 60px 0;
    }
}

.marks-3__titles {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid #C9D2F3;
    border-radius: 3px;
    margin-top: -6px;
}

@media (max-width: 930px) {
    .marks-3__titles {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-top: 0;
        border-left: 4px solid #C9D2F3;
        border-radius: 3px;
        margin-top: 0;
        margin-left: -6px;
        padding-left: 10px;
    }
}

.mark-3 {
    max-width: 120px;
    min-width: 120px;
    height: 124px;
    border: 1px solid #00A87C;
    box-sizing: border-box;
    border-radius: 58px 58px 0 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 35px 0;
    position: relative;
}

@media (max-width: 930px) {
    .mark-3 {
        border-radius: 58px 0 58px 58px;
        margin: 18px 30px 18px 0;
    }
}

.mark-3::before {
    content: '';
    border-right: 2px dashed #000000;
    position: absolute;
    height: 40px;
    left: 73px;
    bottom: -40px;
    z-index: 1;
}

@media (max-width: 930px) {
    .mark-3::before {
        left: 120px;
        bottom: auto;
        height: 0;
        width: 12px;
        border-top: 2px dashed #000000;
    }
}

.mark-3::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #00A87C;
    border: 7px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    left: 50%;
    bottom: -52px;
    z-index: 2;
}

@media (max-width: 930px) {
    .mark-3::after {
        left: 134px;
        bottom: auto;
    }
}

.mark-3 span {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 133.5%;
    text-align: center;
    text-transform: uppercase;
    color: #061058;
}

.section-2__marks-title {
    max-width: 150px;
    padding: 50px 0 0 0;
    margin-right: 10px;
}

@media (max-width: 930px) {
    .section-2__marks-title {
        padding: 0 0 0 0;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.section-2__marks-title:first-child {
    margin: 0 0 0 80px;
}

@media (max-width: 1300px) {
    .section-2__marks-title:first-child {
        margin: 0 10px 0 0;
    }
}

.section-2__marks-title:last-child {
    margin: 0 80px 0 0;
}

@media (max-width: 1300px) {
    .section-2__marks-title:last-child {
        margin: 0 70px 0 0;
    }
}

@media (max-width: 930px) {
    .section-2__marks-title:last-child {
        margin: 0 0 60px 0;
    }
}

.section-2__marks-text-1 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 133.5%;
    text-align: center;
    color: #061058;
}

.section-2__marks-text-2 {
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 133.5%;
    text-align: center;
    color: #061058;
}

@media (max-width: 930px) {
    .section-2__marks-text-2 {
        max-width: 120px;
    }
}

/*__________footer___________*/

.footer {
    background-color: #046FB7;
}

.footer__row {
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.footer__text {
    padding-bottom: 21px;
}

.footer__text a {
    position: relative;
    font-family: 'Avenir Next', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 34px;
}

.footer__text a::before {
    content: url(../img/icon/svg/foot_1_mail.svg);
    position: absolute;
    left: 0;
}